// Override and add customized styles in this file.
//
// You can also create SCSS files in the app/assets/stylesheets/custom/
// folder and they will be loaded automatically.

.top-bar-title {
  background: none;

  &::before {
    content: none;
  }
}

form label,
.feed-content .debate a {
  color: $brand;
}

.checkbox a {
  color: $brand;
  text-decoration: underline;
}

.budget-header {
  min-height: 0;
  padding-bottom: $line-height * 4;
}

.budget-phases .phase-title.current-phase-tab a,
.budget-phases .tabs-title.current-phase-tab [aria-selected="true"] {
  background: $brand;

  &::after {
    border-left-color: $brand;
  }
}

.footer {
  background: $brand;
}
